/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the SignIn and SignUp alerts background. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--bs-gray-200);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.poppinsText {
  font-family: "Poppins", sans-serif;
}

.robotoText {
  font-family: "Roboto", sans-serif;
}

.card.accountcard {
  --bs-card-border-color: #02B5A6;
  --bs-body-bg: #02B5A6;
  --bs-body-color: white;
  --bs-card-title-color: white;
}

.card-title.accountcardtitle {
  font-size: 30px;
}

.card-subtitle.accountcardsubtitle {
  font-size: 20px;
}

.btn.accountbutton, .btn-primary.edit {
  background-color: #005C6D;
  border-color: #005C6D;
  --bs-btn-hover-bg: #00839c;
  --bs-btn-hover-border-color: #00839c;
  --bs-btn-active-border-color: #005C6D;
  --bs-btn-active-bg: #005C6D;
}

.imageContain {
  width: 200px;
  height: 300px;
  object-fit: contain;
}

#colorCard {
  background-color: #02B5A6;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}


.navbar-link:hover, .navbar-brand-link:hover,.navbar-dropdown :hover {
  color: yellow  !important;
}

.navbar-dropdown .dropdown-item:hover{
  color: sandybrown !important;
}

.eventLG.list-group-item {
  background-color: #00798F;
  border-color: #00798F;
  color: white;
}